{{#partial "content"}}
    <link rel="stylesheet" href="/css/index.css">
    <div class="about">
        <p>Hero Squad app allows you to create your own team of Heros or Squads to fight crime.</p>
        <p>You can surround yourself with the best army to survive against the monsters.</p>
        <p>Pick new Heros or Squads from whatever universe wither Marvel or DC comics to survive as long as possible.</p>
        <p>Lets begin! Take your Pick to get started building your army</p>
        <br>
        <br>
    <a href="/hero-form"><button type="submit" class="btn btn-primary" style="text-align: center;">Add Hero</button> </a>
    <br>
    <br>
    <a href="/squad-form"><button type="submit" class="btn btn-primary" style="text-align: center;">Add Squad</button> </a>
    </div>
{{/partial}}

{{> layout.hbs}}