.btn-primary{
    background-color: #06038F;
     border-radius: 250px;
}
.app{
text-align: center;
}
h1{
text-align: center;
font-size: 34;
}
.success{
text-align: center;
}
.detail{
text-align: center;
}

body{
    background-image: url(/images/Gen.jpg);
    background-repeat: repeat;
    background-size: cover;
    padding-top: 30px;
}

#out{
    width: 100%;
    background-color: white;
    padding-top: 100px;
    border-radius: 250px;
    padding-left: 170px;
    padding-right: 170px;
    height: 800px;
}