{{#partial "content"}}
        <div class="detail">
            <a href="/squad-form">Add new Squad to list</a>
        {{#each squad}}
            <p>Name:{{ name }}</p>
            <p>Size:{{ size }}</p>
            <p>Cause:{{ cause }}</p>
            <p>Id {{id}}</p>
            <p>

                {{#if post.published }}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  Published

                {{/if}}
            </p>
        {{/each}}
        </div>

{{/partial}}

{{> layout.hbs}}